:root {
  --color-white: #ffffff;
  --color-blue: #5747ea;
  --color-light-red: #ff8b64;
  --color-soft-blue: #55c2e6;
  --color-light-red: #ff5e7d;

  --color-lime-green: #4bcf82;
  --color-violet: #7335d2;
  --color-soft-orange: hsl(43, 84%, 65%);
  --color-very-dark-blue: #0e1323;
  --color-dark-blue: #1c204b;
  --color-desaturated-blue: #7078c9;
  --color-pale-blue: #bbc0ff;

  --font-family-primary: 'Rubik', 'Arial', sans-serif;
}
